module.exports = {
	MM_GOOGLE_CALENDAR_ICS_URL: "https://calendar.google.com/calendar/ical/your_calendar_id/private-xxxxxxxx/basic.ics",
	MM_TODOIST_TOKEN: "REPLACE_ME_TODOIST_TOKEN",
	MM_AIRNOW_API_KEY: "REPLACE_ME_AIRNOW_API_KEY",
	MM_OPENWEATHER_API_KEY: "REPLACE_ME_OPENWEATHER_API_KEY"
};
