module.exports = {
	MM_GOOGLE_CALENDAR_ICS_URL: "https://calendar.google.com/calendar/ical/your_calendar_id/private-xxxxxxxx/basic.ics",
	MM_GOOGLE_CALENDAR_NAME: "Primary",
	MM_GOOGLE_CALENDAR_SYMBOL: "user",
	MM_GOOGLE_CALENDAR_ICS_URL_2: "",
	MM_GOOGLE_CALENDAR_NAME_2: "Family",
	MM_GOOGLE_CALENDAR_SYMBOL_2: "users",
	MM_GOOGLE_CALENDAR_ICS_URL_3: "",
	MM_GOOGLE_CALENDAR_NAME_3: "Work",
	MM_GOOGLE_CALENDAR_SYMBOL_3: "briefcase",
	MM_GOOGLE_CALENDAR_ICS_URL_4: "",
	MM_GOOGLE_CALENDAR_NAME_4: "School",
	MM_GOOGLE_CALENDAR_SYMBOL_4: "graduation-cap",
	MM_GOOGLE_CALENDAR_ICS_URL_5: "",
	MM_GOOGLE_CALENDAR_NAME_5: "Sports",
	MM_GOOGLE_CALENDAR_SYMBOL_5: "futbol-o",
	MM_GOOGLE_HOLIDAY_ICS_URL: "https://calendar.google.com/calendar/ical/en.usa%23holiday%40group.v.calendar.google.com/public/basic.ics",
	MM_GOOGLE_HOLIDAY_NAME: "Holidays",
	MM_GOOGLE_HOLIDAY_SYMBOL: "gift",
	MM_HOME_ASSISTANT_URL: "http://homeassistant.local:8123",
	MM_HOME_ASSISTANT_TOKEN: "REPLACE_ME_HOME_ASSISTANT_TOKEN",
	MM_ALEXA_SHOPPING_TODO_ENTITY: "todo.shopping_list",
	MM_AMAZON_BASE_URL: "amazon.com",
	MM_AIRNOW_API_KEY: "REPLACE_ME_AIRNOW_API_KEY",
	MM_OPENWEATHER_API_KEY: "REPLACE_ME_OPENWEATHER_API_KEY"
};
